<div class="inmodal">
    <div class="modal-header">
        <h5 class="modal-title">{{modalTitle}}</h5>
    </div>
    <div class="modal-body">
	    <div class="row">
	        <div class="col-sm-12">
	            <form role="form" novalidate name="editForm">
	                <div class="form-group" ng-class="{'has-error':editForm.stockCode.$error.required}">
	                	<label class="control-label">编码</label> 
	                	<input type="text" placeholder="编码" class="form-control" name="stockCode" ng-model="formdata.stockCode" required></input>
	               	</div>
	                <div class="form-group">
	                	<label class="control-label">名称</label> 
	                	<input type="text" placeholder="名称" class="form-control" ng-model="formdata.stockName"></input>
	               	</div>
	               	<div class="form-group">
	                	<label class="control-label">板块类别</label> 
	                	<select class="form-control" ng-model="formdata.stockType">
	                         <option value="sz">深圳</option>
	                         <option value="sh">上海</option>
	                     </select>
	               	</div>
	            </form>
	        </div>
	    </div>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="ok()">确定</button>
    </div>
</div>