<div class="wrapper wrapper-content">
	 <div class="row">
        <div class="col-xs-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5><strong>股票编码</strong></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                	<div class="row">
	                	<div class="col-xs-12 col-md-5 col-lg-4">
	                		<div class="input-group m-b">
	                			<span class="input-group-addon">股票名称</span> 
	                			<input type="text" placeholder="输入股票名称" class="form-control" ng-model="queryParams.stockName"></input> 
                           	</div>
	                	</div>
	                	<div class="col-xs-12 col-md-6 col-lg-5">
							<div class="input-group m-b">
								<span class="input-group-addon">股票编码</span> 
								<input type="text" placeholder="输入股票编码" class="form-control" ng-model="queryParams.stockCode"></input> 
								<span class="input-group-btn">
									<button type="button" class="btn btn-info btn-query" ng-click="queryStockInfos(1)"><i class="fa fa-search"></i>&nbsp;搜索</button>
								</span>
								<span class="input-group-span">
									<button class="btn btn-primary" ng-click="openModal()" type="button"><i class="fa fa-plus"></i>&nbsp;添加</button>
								</span>
							</div>
						</div>
                    </div>
					
					<div class="row">
						<div class="col-xs-12">
							<table ng-table="tableOptions" class="table table-striped table-bordered table-hover ng-table">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>