<div class="wrapper wrapper-content" ng-controller="LotteryDetailCtrl">
	<div class="row">
		<div class="col-xs-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5><strong>六合彩详情</strong></h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-xs-12 col-md-5 col-lg-4">
							<div class="input-group m-b">
								<span class="input-group-addon">彩票年份</span> 
								<input type="text" placeholder="输入彩票年份" class="form-control" ng-model="queryParams.lotteryYear"></input> 
							</div>
						</div>
						<div class="col-xs-12 col-md-5 col-lg-4">
							<div class="input-group m-b">
								<span class="input-group-addon">彩票期数</span> 
								<input type="text" placeholder="输入彩票期数" class="form-control" ng-model="queryParams.lotteryPeriod"></input> 
							</div>
						</div>
						<div class="col-xs-12 col-md-10 col-lg-4">
							<div class="input-group m-b">
								<span class="input-group-addon">特码</span> 
								<input type="text" placeholder="输入特码" class="form-control" ng-model="queryParams.lotteryCode"></input> 
								<span class="input-group-btn">
									<button type="button" class="btn btn-info btn-query" ng-click="queryLotteryDetails(1)"><i class="fa fa-search"></i>&nbsp;搜索</button>
								</span>
								<span class="input-group-btn input-group-span">
									<button class="btn btn-primary" ng-click="openModal()" type="button"><i class="fa fa-plus"></i>&nbsp;添加</button>
								</span>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-xs-12">
							<table ng-table="tableOptions" class="table table-striped table-bordered table-hover ng-table">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>