<div class="wrapper wrapper-content">
	 <div class="row">
        <div class="col-xs-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5><strong>股票详情</strong></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                	<div class="row">
                		<div class="col-xs-12 col-md-8">
	                		<div class="input-group m-b">
	                			<span class="input-group-addon">交易时间</span> 
	                			<input type="text" ng-date-time="date" placeholder="交易开始时间" class="form-control" ng-model="queryParams.stockDateBegin"></input>
	                			<span class="input-group-addon input-daterange"><i class="fa fa-exchange"></i></span>
	                			<input type="text" ng-date-time="date" placeholder="交易结束时间" class="form-control" ng-model="queryParams.stockDateEnd"></input>
	                			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           	</div>
	                	</div>
	                	<div class="col-xs-12 col-md-4">
	                		<div class="input-group m-b">
	                			<span class="input-group-addon">股票编码</span> 
								<input type="text" placeholder="输入股票编码" class="form-control" ng-model="queryParams.stockCode"></input> 
                           	</div>
	                	</div>
	                    <div class="col-xs-12 col-md-12">
							<div class="input-group m-b">
								<span class="input-group-addon">股票名称</span> 
	                			<input type="text" placeholder="输入股票名称" class="form-control" ng-model="queryParams.stockName"></input> 
								<span class="input-group-btn">
									<button type="button" class="btn btn-info btn-query" ng-click="queryStockDetails(1)"><i class="fa fa-search"></i>&nbsp;搜索</button>
								</span>
								<span class="input-group-btn input-group-span">
									<button class="btn btn-primary" ng-click="openModal()" type="button"><i class="fa fa-plus"></i>&nbsp;添加</button>
									<button class="btn btn-danger" ng-click="collectStockDetails()" type="button">采集&nbsp;<i class="fa fa-recycle"></i></button>
								</span>
							</div>
						</div>
                    </div>
					
					<div class="row">
						<div class="col-xs-12">
							<table ng-table="tableOptions" class="table table-striped table-bordered table-hover ng-table">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>